.details {
  margin-top: 2rem;
}

.details-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.details-top p {
  font-size: 1.5rem;
}

.details-body {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
  border-bottom: 1px solid var(--gray-400);
  padding-bottom: 2rem;
}

.details-body img {
  height: 450px;
}

.details-text {
  margin-bottom: 1rem;
}

.details-bottom {
  display: flex;
  justify-content: center;
}

.actors,
.episodes {
  flex: 1;
}

.episodes h2,
.actors h2 {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.btns-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.season-btn {
  padding: 1rem 1.5rem;
  border: none;
  background-color: rgb(130, 204, 228);
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.season-btn:hover {
  background-color: rgb(118, 184, 206);
}

.active {
  background-color: rgb(118, 184, 206);
}

.ep-container {
  margin-top: 2rem;
}

.episode {
  display: flex;
  border: 1px solid var(--gray-400);
  margin-bottom: 0.5rem;
  align-items: center;
}

.episode h2 {
  background-color: var(--gray-400);
  padding: 1rem;
  margin: 0;
  width: 5rem;
  text-align: center;
}

.episode .episode-details {
  padding: 0 1rem;
  width: 100%;
}

.episode-top {
  display: flex;
  justify-content: space-between;
}
