input {
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  outline: none;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 10px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 1rem;
}

a,
a p,
a h2 {
  text-decoration: none;
  color: var(--gray-900);
}

h2 {
  margin-bottom: 1rem;
}

.card {
  border: 1px solid rgb(167, 167, 167);
  border-radius: 25px;
  display: flex;
  transition: 0.2s;
}

.card:hover {
  background-color: rgb(239, 239, 239);
}

.card img {
  width: 150px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.card-body {
  padding: 1rem;
  padding-right: 2rem;
  width: 100%;
}

.card-body h3 {
  margin-bottom: 0.5rem;
}

.card-top {
  display: flex;
  justify-content: space-between;
}

.card-text span {
  margin-top: -50px;
}
